td,th {

  background-color:#f2f2f2 ;

  margin:10px;
  font-size: large;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  text-align: center;
  vertical-align: middle;
  font-family: "Helvetica Neue";
}
h1
{
  font-family: "Helvetica Neue";
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

#na{
  text-align: center;
  vertical-align: middle;
  padding: 20px;

}
.ui-button-success {
  background-color: #00ee00;
  color: #f2f2f2;
  padding: 20px;
  align-items: center;
}

table{
  width: 900px;
  margin-top: 80px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 50px;
  align-content: center;
}
